.search {
  display: flex;
  flex-direction: column;
  .search__input {
    text-align: center;
    height: 40px;
    width: 400px;
  }
  .search__ul {
    position: absolute;
    list-style-type: none;
    height: 300px;
    top: 60px;
    width: 400px;
    overflow: auto;
    visibility: visible;
    z-index: 1;
  }
}